[user]
	name = kamal
	email = kamlesh@tc-pl.in
[color]
	ui = auto
	branch = auto
[core]
	editor = nvim
[pull]
	rebase = false
[alias]
	co = checkout
	s = status
	od = pull origin dev
	f = fetch
[push]
	autoSetupRemote = true
